.post-content pre code {
    overflow: auto;
    word-break: break-all;
    white-space: pre;
}

.post-footer .disqus {
    margin-top: 6rem;
}


@media only screen and (max-width: 500px) {
	.post-footer .disqus {
		margin-top: auto;
	}
}